{% extends 'reservation/base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Edit Reservation
    {% else %}
        Create Reservation
    {% endif %}
{% endblock %}

{% block content %}
<div class="card">
    <h1>
        {% if form.instance.pk %}
            Edit Reservation
        {% else %}
            Create Reservation
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %} 
        {% for field in form %}
        <div class="form-field">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }} 
          {% if field.errors %}
          <div class="error-message">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <div class="action-buttons">
          <button type="submit" class="button primary-button">Save</button>
          <a
            href="{% url 'reservation:room_detail' room.pk %}"
            class="button cancel-button"
            >Cancel</a
          >
        </div>
    </form>
</div>
{% endblock %}
